<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title></title>
</head>
<body>
    <div class="ui huge menu" th:fragment="navbar">
        <a th:href="@{/}" th:text="#{dashboard}" class="item" >Dashboard</a>
        <a th:href="@{/call}" th:text="#{register.call}" class="item" >Chamado</a>
    </div>
</body>
</html>