<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>Serviço de Atendimento ao Cliente</title>
</head>
<body>
    <div class="ui container" layout:fragment="content">
        <h1 class="ui header" th:text="#{register.call}">Registrar Chamado</h1>
        <form th:action="@{/call}" th:method="post" th:object="${call}" class="ui form" th:classappend="${#fields.hasAnyErrors()} ? 'error'">
            <div class="ui error message">
                <ul class="list" th:if="${#fields.hasAnyErrors()}">
                    <li th:text="#{call.type} + ' ' + ${#fields.errors('callType')}"></li>
                    <li th:text="#{province} + ' ' + ${#fields.errors('province')}"></li>
                    <li th:text="#{call.reason} + ' ' + ${#fields.errors('callReason')}"></li>
                    <li th:text="#{message} + ' ' + ${#fields.errors('message')}"></li>
                </ul>
            </div>
            <div class="field" th:classappend="${#fields.hasErrors('callType')} ? 'error'">
                <label th:for="callType" th:text="#{call.type}"></label>
                <select th:field="${call.callType}" class="ui fluid dropdown">
                    <option value="">-- Selecione --</option>
                    <option th:each="callType : ${T(br.com.olx.sac.enums.CallType).values()}" th:value="${callType}" th:text="${callType.name}"></option>
                </select>
            </div>
            <div class="field" th:classappend="${#fields.hasErrors('province')} ? 'error'">
                <label th:for="province" th:text="#{province}"></label>
                <select th:field="${call.province}" class="ui fluid dropdown">
                    <option value="">-- Selecione --</option>
                    <option th:each="province : ${T(br.com.olx.sac.enums.Province).values()}" th:value="${province}" th:text="${province.name}"></option>
                </select>
            </div>
            <div class="field" th:classappend="${#fields.hasErrors('callReason')} ? 'error'">
                <label th:for="contactReason" th:text="#{call.reason}"></label>
                <select th:field="${call.callReason}" class="ui fluid dropdown">
                    <option value="">-- Selecione --</option>
                    <option th:each="callReason : ${T(br.com.olx.sac.enums.CallReason).values()}" th:value="${callReason}" th:text="${callReason.name}"></option>
                </select>
            </div>
            <div class="field" th:classappend="${#fields.hasErrors('message')} ? 'error'">
                <label th:for="callType" th:text="#{message}"></label>
                <textarea th:field="${call.message}" rows="2" maxlength="255"></textarea>
            </div>
            <button class="ui button" type="submit" th:text="#{submit.button}" />
        </form>
    </div>
</body>
</html>