<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>Serviço de Atendimento ao Cliente</title>
</head>
<body>
    <div class="ui container" layout:fragment="content">
        <h1 class="ui header" th:text="#{sac}">Serviço de Atendimento ao Cliente</h1>
        <br/>
        <div class="ui message" th:classappend="${success} ? 'positive' : 'warning'" th:if="${title}">
            <i class="close icon"></i>
            <div class="header" th:text="${title}"></div>
            <p th:text="${success} ? ${success} : ${error}"></p>
        </div>
        <table class="ui celled table" th:if="${not #lists.isEmpty(calls)}">
            <thead>
                <tr>
                    <th th:text="#{creation.date}">Data de Criação</th>
                    <th th:text="#{call.type}">Tipo de Chamado</th>
                    <th th:text="#{province}">Estado</th>
                    <th th:text="#{call.reason}">Motivo de Chamado</th>
                    <th th:text="#{message}" class="eight wide">Mensagem</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="call: ${calls}">
                    <td th:text="${call.creationDate} ? ${#dates.format(call.creationDate, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${call.callType.name}"></td>
                    <td th:text="${call.province.name}"></td>
                    <td th:text="${call.callReason.name}"></td>
                    <td th:text="${call.message}"></td>
                </tr>
            </tbody>
        </table>
        <h4 class="ui header" th:text="#{empty.calls}" th:unless="${not #lists.isEmpty(calls)}"></h4>
    </div>
</body>
</html>

