<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" type="text/css" th:href="@{/semantic-ui/semantic.min.css}"/>

    <title th:text="#{sac}">Serviço de Atendimento ao Cliente</title>
</head>
<body>
    <div class="ui container">
        <div th:replace="fragments/navbar :: navbar">
            <!-- Navbar is inserted here -->
        </div>
        <div layout:fragment="content">
            <!-- Page content is inserted here -->
        </div>
    </div>

    <script th:src="@{/jquery/jquery-3.2.1.min.js}" ></script>
    <script th:src="@{/semantic-ui/semantic.min.js}" ></script>
    <script th:src="@{/js/custom.min.js}" ></script>
</body>
</html>